sudo: false
language: cpp
compiler:
  - gcc
addons:
  sonarcloud:
    organization: "sonarcloud_organization_key" # the key of the org you chose at step #3
    token: $SONAR_TOKEN
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-precise-3.8
    packages:
    - g++-6
install:
- "[ $CXX = g++ ] && export CXX=g++-6 || true"
script:
  - make
  - make test
  - sonar-scanner
