body {
  font-family: 'Rubik', sans-serif !important;  }

h1.title, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Rubik', sans-serif !important; }

button, .button {
  font-family: 'Rubik', sans-serif !important; }


.box { transition: all .2s ease-in-out !important;  }

.box:hover { transform: scale(1.05) !important; }
